
[Unit]
Description=track service
After=network.target

[Service]
Type=simple
User=ake
Group=ake
ExecStart=/home/ake/track/grpc/self_start/start.sh
Restart=always
RestartSec=5
TimeoutStopSec=20
StandardOutput=journal
StandardError=journal
Environment=DISPLAY=:1

[Install]
WantedBy=multi-user.target
